:root {
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
   --color-oscuro: #292A3A;
}

.navbar-nav.navbar-center {
   position: relative;
   left: 50%;
   transform: translatex(-50%);
}

body {
   min-height: 100vh;
   height: 100vh;
   width: 100vw;
   display: grid;
   grid-template-areas: "header" "main" "footer";
   grid-template-rows: auto 1fr auto;
}

header {
   grid-area: header;
   background-color: var(--color-oscuro);
   color: white;
}

main {
   grid-area: main;
   background: url("/GymArtBoostrap/imagenes/fondo.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   height: 100%;
}

section {
   width: 100%;
   height: 100%;
}

.cerrarSesion p {
   font-size: 1.2rem;
}

/*Texto inicial*/

.Bienvenidos {
   text-align: center;
   color: white;
   height: 100%;
}

.Bienvenidos h1 {
   padding-bottom: 3%;
}

/*Basica*/

.cuotas .container {
   width: 100%;
   height: 80%;
}

.row {
   width: 100%;
   height: 100%;
   /* padding: 2%; */
}

.cuotas .col-xs-12 {
   color: white;
   /* width: 60%;
   height: 60%; */
   /* padding: 3%; */
   padding-bottom: 5%;
}

.cuotas .col-sm-12 {
   padding-bottom: 5%;
}

.cuotas .col-md-6 {
   padding: 4%;
}

/*Basica*/

.titulo-precioB {
   background-color: blueviolet;
}

.titulo-precioB p {
   color: yellow;
}

/*Avanzada*/

.titulo-precioA {
   background-color: black;
}

.titulo-precioA p {
   color: red;
}

/*Ultra*/

.titulo-precioU {
   background-color: #06DDE8;
}

.titulo-precioU h1 {
   color: white;
}

.incluye {
   text-align: center;
   color: grey;
}

.incluye ul {
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
}

.incluye li {
   border: 1px solid black;
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
}

.incluye li:nth-child(odd) {
   background-color: #c7c2c2;
}

.incluye li:nth-child(even) {
   background-color: #ffffff;
}

/*Quienes Somos*/

.mapa {
   height: 50%;
   width: 80%;
}

#tagDivPanorama {
   width: 30%;
   height: 20%;
   position: absolute;
   top: 300px;
   left: 210px;
   border: red solid 5px;
}

/*Contacto*/

.contacto {
   /* text-align: center; */
   background: var(--color-oscuro);
   color: white;
   border-radius: 8px;
   box-shadow: 0 0 40px -10px #000;
   padding: 20px 30px;
   max-width: calc(100vw - 40px);
   box-sizing: border-box;
   /* width: 20%; */
}

/*Acceso*/

.botonAcceso {
   padding-top: 1%;
}

/*Tablas*/

.tablas {
   background: var(--color-oscuro);
   color: white;
   border-radius: 8px;
   box-shadow: 0 0 40px -10px #000;
   /* padding: 20px 30px; */
   /* max-width: calc(100vw - 40px); */
   box-sizing: border-box;
   display: grid;
   grid-template-areas: "Titulo     Titulo        Titulo" "buscador   menuOpciones clientesInactivos" "divTable   divTable     divTable";
   /* grid-template-columns: 40% 50% auto; */
}

.tablas h1 {
   grid-area: Titulo;
   padding-top: 1%;
   padding-bottom: 2%;
}

.descargas {
   grid-area: menuOpciones;
}

.clientesAntiguos {
   grid-area: clientesInactivos;
}

.clientesAntiguos a {
   color: white;
}

.table {
   grid-area: divTable;
}

#descargaPdf img {
   width: 50px;
   height: 50px;
}

#copia img {
   width: 50px;
   height: 50px;
}

#anadir img {
   width: 50px;
   height: 50px;
}

.buscador {
   width: 100%;
   text-align: center;
   padding: 3%;
   grid-area: buscador;
}

.input {
   display: flex;
   justify-content: center;
   width: 100%;
}

.i_buscar {
   width: 100%;
   text-align: center;
   height: 30%;
   padding: 10px;
}

.input button {
   background: none;
   border: none;
   padding-left: 1%;
}

.input button img {
   width: 30px;
}

.boton-checkbox {
   display: none;
}

.a-ocultar button {
   background: none;
   border: none;
   padding-left: 1%;
}

.a-ocultar img {
   width: 25px;
   border: none;
   background: none;
}

.tresbotones {
   display: none;
}

/*Modificar*/

.Modificar {
   background: var(--color-oscuro);
   border-radius: 8px;
   box-shadow: 0 0 40px -10px #000;
   display: grid;
   grid-template-areas: "datosPersonales InformacionAdicional" "modificar         modificar";
}

.datosPersonales {
   grid-area: datosPersonales;
}

.datosAdicionales {
   grid-area: InformacionAdicional;
}

.boton_enviar {
   grid-area: modificar;
}

.Modificar h1 {
   text-align: center;
   color: white;
}

.Modificar div {
   padding: 5px;
   color: white;
}

.Modificar input {
   /* background: none; */
   /* color: white; */
   text-align: center;
   outline: none;
   border: 0;
   transition: all .3s;
   /* width: 60%; */
   border-bottom: 2px solid #bebed2;
}

/*Graficos*/

.sectionGraficos {
   background: var(--color-oscuro);
}

.sectionGraficos h1, label {
   color: white;
}

/*modificar mensualidades*/

.ModificarMensualidad {
   background: var(--color-oscuro);
   border-radius: 8px;
   box-shadow: 0 0 40px -10px #000;
   color: white;
}

.ModificarMensualidad h1 {
   text-align: center;
   color: white;
}

/*Tablas Pagos*/

.tablasPagos {
   background: var(--color-oscuro);
   color: white;
   border-radius: 8px;
   box-shadow: 0 0 40px -10px #000;
   /* padding: 20px 30px; */
   /* max-width: calc(100vw - 40px); */
   box-sizing: border-box;
   display: grid;
   grid-template-areas: "Titulo     Titulo        Titulo" "buscador   menuOpciones   selectPagos" "divTable   divTable     divTable";
   /* grid-template-columns: 40% 50% auto; */
}

.tablasPagos h1 {
   grid-area: Titulo;
   padding-top: 1%;
   padding-bottom: 2%;
}

.tablasPagos .buscador {
   grid-area: buscador;
   width: 95%;
}

.tablasPagos .descargas {
   grid-area: menuOpciones;
}

.tablasPagos .selectPagos {
   grid-area: selectPagos;
   width: 100%;
}

.table {
   grid-area: divTable;
}


@media only screen and (max-width: 768px) {
   
   #tagDivPanorama {
      left: 65px;
   }
   .tablas {
      width: 100%;
      /* max-width: calc(100vw - 40px); */
      background: var(--color-oscuro);
      color: white;
      border-radius: 8px;
      display: grid;
      grid-template-areas: "Titulo     Titulo        Titulo" "buscador   buscador       Buscador" "menuOpciones  menuOpciones   menuOpciones" "clientesInactivos clientesInactivos clientesInactivos" "divTable   divTable     divTable";
      grid-template-columns: 1fr 1fr;
   }

   .tablas .boton img  {
      width: 30%;
   }
   .tablas h1 {
      grid-area: Titulo;
      padding-top: 2%;
      padding-bottom: 2%;
   }
   .descargas {
      grid-area: menuOpciones;
      padding-top: 2%;
      padding-bottom: 2%;
   }
   .clientesAntiguos {
      grid-area: clientesInactivos;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 2%;
      padding-bottom: 2%;
   }
   .table {
      grid-area: divTable;
   }
   .tablas h1 {
      font-size: 1rem;
   }
   .buscador {
      width: 100%;
      padding: 0;
      grid-area: buscador;
   }
   #descargaPdf img {
      width: 30px;
      height: 30px;
   }
   #copia img {
      width: 30px;
      height: 30px;
   }
   #anadir img {
      width: 30px;
      height: 30px;
   }
   .tresbotones {
      display: flex;
   }
   .boton-checkbox {
      display: none;
   }
   .boton-checkbox~[class*="a-ocultar"] {
      display: none;
   }
   .boton-checkbox:checked~[class*="a-ocultar"] {
      display: initial;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      /* padding: 5%; */
   }
   .boton {
      flex-flow: row;
   }
   .boton img {
      width: 45%;
   }
   .Modificar {
      background: var(--color-oscuro);
      border-radius: 8px;
      box-shadow: 0 0 40px -10px #000;
   }
   .Modificar h1 {
      font-size: 1.2rem;
      text-align: center;
      color: white;
   }
   /*modificar mensualidades*/
   .ModificarMensualidad {
      background: var(--color-oscuro);
      border-radius: 8px;
      box-shadow: 0 0 40px -10px #000;
      color: white;
   }
   .ModificarMensualidad h1 {
      text-align: center;
      color: white;
   }

   .container {
      padding: 0 !important;
      margin: 0 !important;
   }
   /*Tablas Pagos*/
   .tablasPagos {
      background: var(--color-oscuro);
      color: white;
      border-radius: 8px;
      box-shadow: 0 0 40px -10px #000;
      /* padding: 20px 30px; */
      box-sizing: border-box;
      display: grid;
      grid-template-areas: "Titulo     Titulo        Titulo" "buscador   buscador       buscador" "menuOpciones  menuOpciones   menuOpciones" "selectPagos   selectPagos    selectPagos" "divTable   divTable     divTable";
      /* grid-template-columns: 40% 50% auto; */
   }
   .tablasPagos h1 {
      grid-area: Titulo;
      padding-top: 1%;
      padding-bottom: 2%;
   }
   .tablasPagos .buscador {
      grid-area: buscador;
      width: 100%;
   }
   .tablasPagos .descargas {
      grid-area: menuOpciones;
   }
   .tablasPagos .selectPagos {
      grid-area: selectPagos;
      width: 100%;
   }
   .tablasPagos .table {
      grid-area: divTable;
   }
   .table th, tr,td {
      padding: 0 !important;
      margin: 0 !important;
   }
   .row {
      padding: 0 !important;
      margin: 0 !important;
   }
}
/* 
 @media only screen and (max-width: 1199px) { 
   .row {
      padding: 0 !important;
      margin: 0 !important;
   }
}  */

footer {
   grid-area: footer;
   background-color: var(--color-oscuro);
   color: white;
}